html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

header.hero-section {
    position: relative;
    height: 100vh;
    background: url('./img/fitnessbg.png') no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

header.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    filter: blur(5px);
    z-index: 1;
}

nav {
    background: rgba(8, 5, 24, 0.86);
    padding: 15px;
    margin-top: 0;
}


nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav .logo {
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    margin-left: 35px;
}

nav .logo a {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 35px;
    padding-right: 20px;
}

nav ul li a {
    color: #fafafa;
    text-decoration: none;
    font-weight: 700;
}

.hero-content {
    z-index: 2;
    max-width: 600px;
    padding-top: 50px;
    
    padding-right: 650px;
}

.hero-content h1 {
    font-size: 48px;
    margin: 0;
}

.hero-content p {
    margin-top: 20px;
    font-size: 20px;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e0b084;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #d18e65;
}

.programs-section, .testimonials-section, .contact-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    color: #333;
}

.programs-section h2, .testimonials-section h2, .contact-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.program-cards, .testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.program-card, .testimonial-card {
    background-color: #2c2b2b3a;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.program-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    background-color: #292525;
    color: #fff;
    text-align: center;
}
